<form method='POST'>
<label>Description</label>
<input type='text' class='description' name='description' value="{{exp.description}}" >
<br><br>
<label>Amount</label> 
<input type='number' class='amount' name='amount' value="{{exp.amount}}">
<br><br>
<label>Category</label>
<input type='text' class='category' name='category' value="{{exp.category}}">
<br><br>
<label>Expense Date</label>
<input type='date' class='date' name='expense_date' value="{{exp.date}}" >
<br><br>
<button type='submit'>Submit</button>
</form>